body{
  background-color: rgb(56, 156, 203);
  align-items: center;
}
.formstyle {
  padding-top: 20px;
  border: 1px solid black;
  padding-bottom: 20px;
  margin: 20px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="textarea"]{
  border: 1px solid black;
  width: 300px;
}
label{
  color: black;
  font-weight: bold;
}
textarea.form-control {
  border: 1px solid black;
  width: 370px;
  height: 160px;
}
button.btn.btn-primary {
  text-align: center;
}
.container.formstyle{
  background-color: rgb(100, 100, 112);
  width: 500px;
  margin-left: 32%;
  border-radius: 19px;
  box-shadow: 10px black solid;
}
.links{
  border:2px solid black;
}
a{
  color: red;
  font-weight: bold;
}